html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article, aside, details, figcaption, figure, main, header, hgroup, menu, nav, section {
    display: block
}
body {
    line-height: 1
}
ol, ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
                                                   content: "";
                                                   content: none
                                               }
table {
    border-collapse: collapse;
    border-spacing: 0
}


body {
    background-color: #454545;
    color: #111;
    font-family: "Liberation Sans", sans-serif;
    overflow: scroll;
    font-size: 14pt
}
body > header {
    padding-top: 1ex;
    padding-bottom: 1ex;
    width: 100%;
    display: table;
    background-color: #454545;
    margin: auto
}
body > header > a {
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
    color: #B5B5B5;
    text-decoration: none;
}
body > header > a > img {
    max-height: 3.5em
}
body > header > nav {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    padding-top: 1ex;
    padding-right: 10%
}
body > header > nav > a {
    text-decoration: none;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em
}

main > article {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    max-width: 59em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding: 2em 0.25em 2em 0.25em;
    text-align: center;
    background-color: gray
}
main > article > div {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}
#index-link {
    color: #F6414C
}
#index-link:hover, #index-link.selected {
    border-color: #F6414C;
    color: #F8F4DD;
    background-color: #F6414C
}
#index-title {
    nbackground-color: #DA4148
}
#gallery-link {
    color: #45BB37
}
#gallery-link:hover, #gallery-link.selected {
    border-color: #45BB37;
    color: #F8F4DD;
    background-color: #45BB37
}
#gallery-title {
    background-color: #51DA41
}
#about-link {
    color: #5097FF
}
#about-link:hover, #about-link.selected {
    border-color: #5097FF;
    color: #F8F4DD;
    background-color: #5097FF
}
h1 {
    font-size: 2.5em;
    padding: 0.5ex;
}
h2 {
    font-size: 2em;
    padding-bottom: 0.5ex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #93a1a1
}
h3 {
    font-size: 1.8em
}
h4 {
    font-size: 1.6em
}
h5 {
    font-size: 1.4em
}
p {
    margin-bottom: 2ex;
    line-height: 3ex;
}
a {
    color: #00E00A;
    text-decoration: underline
}
ol, ul {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    list-style-position: inside
}
ul {
    list-style-type: circle
}
ol {
    list-style-type: lower-latin
}
li {
    margin-left: 1em;
    line-height: 3ex
}
em {
    font-style: italic
}
strong {
    font-weight: bold
}
#gallery {

}
#gallery-list {
    text-align: center;
    padding: 0.25em
    margin: 0
}
.gallery-item, .gallery-image {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    max-width: 100%;
    max-height: 250px;
    padding-bottom: 0.45em;
    margin: 0;
}
.gallery-image:hover {
    filter: drop-shadow(0px 0px 10px white);
}
#image {
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
}
#portrait {
    max-height: 15em;
}
